# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\wssc5\Desktop\ICS314\GitHub\Web-of-my-choice\.idea/dataSources/
/dataSources.local.xml
